body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

{/*Dashboard login*/}
.formLog{
  margin-top: 100px;
}
.form-login{
  color: #757575;
  margin-top: 10px;
}
.card{
  width: 40rem;
  margin: 0 auto;
  background: darkgray;
  max-width: 100%;
  height: auto;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* Add some padding inside the card container */
.container {
  margin-top: 20px;
  padding: 2px 16px;
}
/* Add rounded corners to the top left and the top right corner of the image */
.logo {
  border-radius: 5px 5px 0 0;
  width: 5rem;
  padding-bottom: 20px;
  }
.logo2 {
  border-radius: 5px 5px 0 0;
  width: 5rem;
}
.logomot{
  width: 15rem;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 30px;
}
.logocomplet{
  width: 5rem;
  margin: 0;
}
.link-custom{
  margin-bottom: 20px;
}
.round{
  width: 60%;
  height: 40px;
/* arroundi avec bordure (2ème photo)*/
  border:2px solid #FFC491;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:20px;
  padding: 5px;
  background-color:#FFA42B;
}
.text-custom{
  width: 50%;
  height: 50px;
  border: 0;
  color: #003135;
  margin-top: 15px;
  margin-left: 0;
}
.p-custom{
  width: 70%;
  height: 50px;
  border:0;
  color: #003135;
  font-size: xx-small;
  margin: 0 auto;
}
.flotte{
  float: left;
}
.logohandidanse{
  width: 8rem;
  margin: 0 auto;
  padding-top: 140px;
  padding-bottom: 10px;
}
.logohandidanse2{
  width: 8rem;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 10px;
}
.parameter{
  width: 2rem;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 0;
 }

.help{
  width: 3rem;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logout{
  width: 2rem;
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 10px;
  padding-right: 10px;
}
.SidebarTitre{
  padding-bottom: 40px;
  color: #003135;
}
.card-header{
  margin: 0;
}
label{
  color: brown;
  margin-left: -15px;
  margin-top: 20px;
}
.navbar-custom{
  margin-left: 250px;
  margin-right: 150px;
}
.submit{
  margin-top: 40px;
}
{/*Dashboard login*/}
.card-footer{
  width: 40rem;
  margin: 20px auto;
  background: darkgray;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}
.col-lg-6{
  margin-bottom: 30px ;
}
.card-deck{
  margin: 30px;
}
h6{
  margin-top: 50px;
  text-align: center;
}
.amount{
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  padding-bottom: 10px;
}
.don{
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  padding-bottom: 10px;
}
.donBis{
  width: 70%;
  margin: 0 auto;
  height: auto;
  padding-top: 10px;
}
.moyenne{
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  padding-bottom: 10px;
}
.recufiscal{
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  padding-bottom: 10px;
}
.repartitiondon{
  margin: 0 auto;
  max-width: 100%;
  height: auto
}
.objectif{
  margin: 0 auto;
  max-width: 100%;
  height: auto
}
.repartitionmois{
  margin: 0 auto;
  max-width: 100%;
  height: auto
}
.container-fluid{
  padding: 0;
}
.card-text{
  font-size: x-small;
  text-align: center;
  margin: 0;
}
.card-graphic{
  width: 500px;
  maxWidth: 500px;
  margin: 0 auto;
  height: 500px;
  font-size: small;
}
.diviseur{
  width: 120px;
  color: black;
  background-color: black;
  height: 0.5px;
  margin-bottom: 0;
  margin-top: 1px;
}
.separateur{
  width: 210px;
  color: firebrick;
  background-color: firebrick;
  height: 1px;
  margin-bottom: 40px;
}
.bg-custom{
  background-color: #FFFFFF;
  /*border-right:3px solid #FFC491;*/
  /*border-radius: 5px;*/
}
.p-custom2{
  min-width: 6rem;
}
.navbar-height{
  height: 1300px;
}
#basic-navbar-nav{
  margin-left: 420px;
  margin-right: 230px;
  border-color: black;
}
.filtres {
  float:left;
}
.periodes{
  float:right;
}
.card-custom{
  font-size: small;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}
.card-custom2{
  margin: 0 auto;
  padding-left: -50px;
}
ul {
  list-style:none;
  margin-left:0;
  padding-left:0;
}
.list-custom{
  margin-bottom:10px;
  width: 100%;
  font-size: x-small;
  background-color: #F7F6F5;
}
.custom-gradient{
  background-image: radial-gradient(closest-side ellipse at center, white, #FFC491);
}
header{
  margin-top: 40px;
}
.TextValor{
  margin-right: 100px;
}
.bar-progess{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin-right: 100px;
}
/*Table des donateurs*/
.h3-custom{
  margin-bottom: 30px;
}
.Entete-custom{
  background-color: #FFA42B;
  border: 1px solid #003135;
}
.line-custom{
  background-color: #FFFFFF;
}
.line2-custom{
  background-color: #FFC491;
}
.IconGrey{
  width: 12%;
}
.table {
  margin: auto;
  width: 100% !important;
  border: #757575;
}
.table td{
  vertical-align: middle;
}
/*Table des donateurs*/

/*Projet*/
.projetAjout{
  width: 30%;
  margin-bottom: 20px;
}
.h4-custom{
  margin-top: 20px;
}
.h4-custom2{
  margin-top: -30px;
  margin-bottom: 20px;
}
.h4-custom3{
  margin-top: 80px;
  margin-bottom: 20px;
}
.border-custom{
  max-width: 15rem;
}
.form-custom{
  font-size: small;
  border:1px solid #FFC491;
  background-color: #FFC491;
  min-height: 40px;
  margin-bottom: 20px;
}
.form2-custom{
  font-size: small;
  border:1px solid #D2F0F0;
  background-color: #D2F0F0;
  min-height: 40px;
  margin-bottom: 20px;
}
.a-custom{
  color: #003135;
}
.round-custom{
  width: 70%;
  height: 50px;
  /* arroundi avec bordure (2ème photo)*/
  border:2px solid #FFC491;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  padding: 5px;
  background-color:#FFA42B;
}
.police-custom{
  font-size: medium;
  color: #003135;
}
.hedge{
  width: 5rem;
}
.mushroom{
  width: 5rem;
}
.listeDon{
  margin-top: 20px;
}
/* Detail Project */
.h5-custom{
  margin-top: 20px;
  margin-right: 220px;
}

.h5-custom2{
  width: 40%;
  border:2px solid #003135;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:20px;
  padding: 5px;
  background-color:#FFFFFF;
  margin-bottom: 20px;
}
.h5-custom3{
   margin-top: 20px;
   margin-right: 180px;
 }

.gauge-custom{
  width: 60%;
  border:2px solid #003135;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:20px;
  padding: 5px;
  background-color:#FFA42B;
  margin-bottom: 30px;
  margin-top: 30px;
}
.the-gift{
  width: 10%;
  border:2px solid #003135;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:5px;
  padding: 5px;
  background-color:#FFFFFF;
  color: #FFA42B;
  margin-bottom: 5px;
  margin-top: 30px;
}
.the-gift2{
  width: 3%;
  padding: 5px;
  color: #003135;
  margin-bottom: 5px;
  margin-top: 30px;
}
.the-gift3{
  width: 100%;
  padding: 5px;
  color: #FFA42B;
  margin-bottom: 10px;
}
.p-custom3{
  width: 40%;
  height: 310px;
  border:2px solid #003135;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  padding: 10px;
  background-color:#FFFFFF;
  margin-top: 40px;
  text-align: justify;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.p-custom4{
  width: 95%;
  height: 150px;
  border:2px solid #8FE0EB;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  background-color:#8FE0EB;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.card-custom3{
  height: 630px;
}
.position-custom{
  margin-top: 200px;
}
.the-gift4{
  width: 100%;;
  padding: 5px;
  color: #FFA42B;
  bottom: 30px;
  font-size: small;
}
.img-custom{
   width: 50%;
   height: 250px;
   border:2px solid #FFCDA5;
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   border-radius:10px;
   background-color:#FFCDA5;
 }
.img-custom2{
  width: 120%;
  height: 100px;
  right: 0;
  left: 50px;
  top: 140px;
  bottom: 0;
}
.p-custom5 {
  font-size: 1.1vw;
}
.hedge-custom{
  width: 20%;
}
.img-custom3{
  width: 20%;
  height: 100px;
  right: 0;
  left: 220px;
  top: 70px;
  bottom: 0;
}
.plantation{
  width: 95%;
}
.div-custom{
  margin-bottom: 20px;
}
.div-custom2{
  width: 18%;
  height: 20px;
  border:2px solid #FFFFFF;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:20px;
  background-color:#FFFFFF;
  font-size: x-small;
  font-size: x-small;
  right: 0;
  left: 30px;
  top: 210px;
  bottom: 0;
}
.highlighted{
  /*width: 120px;*/
  color: white;
  background-color: white;
  height: 1px;
  margin-bottom: 0;
  margin-top: -5px;
}
.position-custom2{
  right: 545px;
  left: 255px;
  top: 20px;
  bottom: 0;
}
.highlighted2{
  /*width: 120px;*/
  color: #FFCDA5;
  background-color: #FFCDA5;
  height: 1px;
  margin-bottom: 0;
  margin-top: -5px;
}
.position-custom3{
  right: 270px;
  left: 540px;
  top: 20px;
  bottom: 0;
}

.div-custom3{
  width: 18%;
  height: 20px;
  border:2px solid #FFFFFF;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:20px;
  background-color:#FFFFFF;
  font-size: x-small;
  font-size: x-small;
  right: 0;
  left: 720px;
  top: 210px;
  bottom: 0;
}
.position-custm4{
  margin-top: 380px;
}
.the-gift5{
   width: 1.5rem;
   padding: 5px;
   color: #003135;
   margin-bottom: 5px;
   margin-top: 30px;
   font-size: 50px;
 }
.the-gift6{
  width: 25%;
  border:2px solid #003135;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:5px;
  padding: 5px;
  background-color:#FFFFFF;
  color: #003135;
  margin-bottom: 5px;
  margin-top: 30px;
}
.the-gift7{
  width: 25%;
  border:2px solid #FFFFFF;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:5px;
  padding: 5px;
  background-color:#FFFFFF;
  color: #FFA42B;
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 1.1vw;
}
.btn-custom{
  width: 15%;
  border:2px solid #FFA42B;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:20px;
  padding: 0;
  background-color:#FFA42B;
  color: #FFFFFF;
  margin-bottom: 0;
  margin-top: 30px;
}
